<a href="https://colab.research.google.com/github/zwcrowley/module_21_deep_learning_challenge/blob/main/deep_learning_charity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Module 21- Deep Learning Challenge**

#### By: Zack Crowley

## Preprocessing

In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [ ]:
#  Import and read the charity_data.csv on local machine:
# application_df = pd.read_csv("../Resources/charity_data.csv")

In [6]:
# Import from google drive folder:
# Mount google drive to get data:
from google.colab import drive
drive.mount('/content/gdrive')
app_filepath = "/content/gdrive/MyDrive/DataClassNotebooks/module_21_deep_learning_challenge/Resources/charity_data.csv"
# Read in data using pandas:
application_df = pd.read_csv(app_filepath)
application_df.head()

Mounted at /content/gdrive

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Check for NAs, duplicates and get the shape of the data:
print(f'The shape of the application data is: {application_df.shape}')
print(f'The number of NAs in the application data: {application_df.isnull().sum()}')
print(f'The duplicate rows of NAs in the application data: {application_df.duplicated().sum()}')
# There are 15 columns, 618 rows, and no NAs or duplicates in the application dataset.
# 9 features and 1 target (IS_SUCCESSFUL).

The shape of the application data is: (34299, 12)
The number of NAs in the application data: EIN                       0
NAME                      0
APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64
The duplicate rows of NAs in the application data: 0

In [8]:
# Get the column names:
list(application_df.columns)

['EIN',
 'NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'STATUS',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS',
 'ASK_AMT',
 'IS_SUCCESSFUL']

### What variable(s) are the target(s) for your model?


*   IS_SUCCESSFUL is the target for the model

In [9]:
application_df["IS_SUCCESSFUL"].describe()

count    34299.000000
mean         0.532406
std          0.498956
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: IS_SUCCESSFUL, dtype: float64

### What variable(s) are the feature(s) for your model?

#### There are 9 features for the model,
#### Features:
*   'APPLICATION_TYPE'
*  AFFILIATION
* 'AFFILIATION'
* 'CLASSIFICATION'
* 'USE_CASE'
* 'ORGANIZATION'
*  'STATUS'
*  'INCOME_AMT'
*  'SPECIAL_CONSIDERATIONS'
*  'ASK_AMT'

In [10]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis='columns')
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [11]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [12]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df["APPLICATION_TYPE"].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [13]:
# Choose a cutoff value and create a list of application types to be replaced
# I picked a cutoff value of 100 to bin: 
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()
#  9 Bins

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [14]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df["CLASSIFICATION"].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [15]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_pos = class_counts[class_counts>1]
class_counts_pos

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [16]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (class_counts[class_counts<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()
#  12 Bins

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [17]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [18]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"], axis='columns').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [43]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 400

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 451
Trainable params: 451
Non-trainable params: 0
_________________________________________________________________

In [44]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [45]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6321 - accuracy: 0.6698
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5789 - accuracy: 0.7182
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5639 - accuracy: 0.7248
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5582 - accuracy: 0.7287
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7304
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7315
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7318
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7326
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5507 - accuracy: 0.7322
Epoch 10/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5505 - accuracy: 0.7325
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7326
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7328
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7328
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7318
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7327
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7333
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5477 - accuracy: 0.7331
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7330
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7341
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7329
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7341
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7343
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7350
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5464 - accuracy: 0.7336
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5466 - accuracy: 0.7337
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7345
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7341
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7339
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7344
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7343
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7349
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5457 - accuracy: 0.7342
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7343
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7345
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7349
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7338
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7350
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7350
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5444 - accuracy: 0.7343
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7354
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7336
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7346
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7347
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7347
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7346
Epoch 46/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5441 - accuracy: 0.7346
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7341
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7359
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7350
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7352
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7348
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7355
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7357
Epoch 54/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5436 - accuracy: 0.7341
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5436 - accuracy: 0.7348
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7355
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7358
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7353
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7356
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7352
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5435 - accuracy: 0.7358
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7363
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7359
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7348
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7353
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7360
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7356
Epoch 68/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5432 - accuracy: 0.7355
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7348
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7355
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7342
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7355
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7359
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7358
Epoch 75/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5428 - accuracy: 0.7351
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5425 - accuracy: 0.7353
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7352
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7356
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7352
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7352
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7355
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7357
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5424 - accuracy: 0.7358
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7356
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7354
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7357
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7367
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7359
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7362
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5420 - accuracy: 0.7359
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5417 - accuracy: 0.7365
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7365
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7359
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7368
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7376
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7367
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7366
Epoch 98/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5413 - accuracy: 0.7358
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7350
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7361

In [46]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5527 - accuracy: 0.7257 - 940ms/epoch - 4ms/step
Loss: 0.5527336001396179, Accuracy: 0.7257142663002014

In [49]:
# Export our model to HDF5 file
from google.colab import files

output_filepath = "/content/gdrive/MyDrive/DataClassNotebooks/module_21_deep_learning_challenge/output"

nn.save(f'{output_filepath}/AlphabetSoupCharity.h5')
files.download(f'{output_filepath}/AlphabetSoupCharity.h5')

Load back in the model:

In [21]:
from tensorflow.keras.models import load_model
output_filepath = "/content/gdrive/MyDrive/DataClassNotebooks/module_21_deep_learning_challenge/output"

nn_1=load_model(f'{output_filepath}/AlphabetSoupCharity.h5')

In [1]:
!pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.3.0-py3-none-any.whl (167 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 167.3/167.3 KB 11.3 MB/s eta 0:00:00
Requirement already satisfied: ipython in /usr/local/lib/python3.8/dist-packages (from keras-tuner) (7.9.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from keras-tuner) (23.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from keras-tuner) (2.25.1)
Requirement already satisfied: tensorflow>=2.0 in /usr/local/lib/python3.8/dist-packages (from keras-tuner) (2.11.0)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: tensorboard<2.12,>=2.11 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (2.11.2)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (0.31.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (2.2.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (3.19.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (57.4.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (2.11.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (0.2.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (1.6.3)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (3.3.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (2.11.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (4.5.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (1.15.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (1.51.3)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (1.15.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (0.4.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (1.22.4)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (23.1.21)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (15.0.6.1)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (3.1.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (1.4.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython->keras-tuner) (2.0.10)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipython->keras-tuner) (5.7.1)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1.6/1.6 MB 60.7 MB/s eta 0:00:00
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->keras-tuner) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->keras-tuner) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.8/dist-packages (from astunparse>=1.6.0->tensorflow>=2.0->keras-tuner) (0.38.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython->keras-tuner) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (0.2.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (1.8.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (2.2.3)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (3.4.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.4.6)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (2.16.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (5.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.8/dist-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (6.0.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.8/dist-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (2.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (3.15.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (3.2.2)
Installing collected packages: kt-legacy, jedi, keras-tuner
Successfully installed jedi-0.18.2 keras-tuner-1.3.0 kt-legacy-1.0.4

In [30]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=49))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [31]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20)

In [32]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 56 Complete [00h 01m 05s]
val_accuracy: 0.6598250865936279

Best val_accuracy So Far: 0.7276967763900757
Total elapsed time: 00h 29m 15s

In [33]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 9,
 'num_layers': 5,
 'units_0': 9,
 'units_1': 7,
 'units_2': 7,
 'units_3': 1,
 'units_4': 5,
 'units_5': 5,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 2,
 'tuner/round': 2,
 'tuner/trial_id': '0038'}

In [34]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5554 - accuracy: 0.7277 - 865ms/epoch - 3ms/step
Loss: 0.5553663372993469, Accuracy: 0.7276967763900757